<form [formGroup]="form">
    <div class="form-group">
        <label for="oldPassword">Old Password</label>
        <input formControlName="oldPassword" id="oldPassword" class="form-control">
        <div *ngIf="oldPassword.touched && oldPassword.invalid" class="alert alert-danger">
            <div *ngIf="oldPassword.errors?.required">Old Password Is Required</div>
            <div *ngIf="oldPassword.errors?.badOldPassword">Old Password is not correct</div>
        </div>
    </div>
    <div class="form-group">
        <label for="newPassword">New Password</label>
        <input formControlName="newPassword" id="newPassword" class="form-control">
        <div *ngIf="newPassword.touched && newPassword.invalid" class="alert alert-danger">
            <div *ngIf="newPassword.errors?.required">New Password Is Required</div>
            <div *ngIf="newPassword.errors?.sameNewPassword">Cannot use an old password</div>

        </div>
    </div>
    <div class="form-group">
        <label for="confirmPassword">Confirm Password</label>
        <input formControlName="confirmPassword" id="confirmPassword" class="form-control">
        <div *ngIf="confirmPassword.touched && confirmPassword.invalid" class="alert alert-danger">
            <div *ngIf="confirmPassword.errors?.required">Confirm Password Is Required</div>
        </div>
        <div *ngIf="confirmPassword.valid && form.invalid && form.errors?.passwordNotMatching" class="alert alert-danger">New passwords don't match</div>
    </div>
</form>