.custom_box{
    font-size: 30px;
    border: 1px gray solid;
    width: 80%;
    padding: 20px;
}
.custom_box_title{
    font-weight: 600;
}
.custom_box_active{
    background-color: rgb(241, 241, 241);
}
.custom_box_content{
    border-top: 0;
}

i{
    font-weight: 600;
}