<!-- <h1>Angular</h1>
<app-authors></app-authors>
<app-star></app-star>
<app-title-case></app-title-case>
<like [isActive]="info.isLiked" [likesNumber]="info.numberOfLikes" (change)="handleChange($event)"></like> -->

<!-- <zippy title="Shipping details">
    Shipping details content
</zippy>
<zippy title="Billing details">
    Billing details content
</zippy> -->
<!-- <course-form>
</course-form> -->

<!-- <change-password></change-password> -->
<!-- <posts></posts> -->
<!-- <followers></followers> -->
<router-outlet></router-outlet>